// see "pages/_app.js" for main font family
$main-font: var(--disket-mono) !default;

$white: #fdfdfd !default;
$blue: #3954de !default;
$gray: #888888 !default;
$light-gray: #b0b0b0 !default;
$black: #222222 !default;
