.projects {
  @include std-section-spacing;

  @include mobile {
    @include edge-padding;
    margin-left: 0;
  }

  &__row {
    margin-bottom: #{fluid(30px, 50px)};
    padding-left: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mobile {
      @include edge-padding;
    }
  }

  &__title {
    font-family: $main-font;
    @include std-title-fs;
    color: $blue;
    margin-left: #{fluid(0px, 300px)};
    font-weight: 400;
    margin-bottom: #{fluid(40px, 90px)};

    @include mobile {
      @include edge-padding;
      height: calc(100% + 15px);
      margin-left: 0;
    }
  }
}
