* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth !important;
  background: $white;
  overflow-x: hidden;
}

.swiper-scrollbar-drag {
  background: $blue !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  left: 0 !important;
  right: 0 !important;
  cursor: pointer !important;
  z-index: 11 !important;
  top: 0 !important;
  bottom: 0 !important;
  padding: 9px 20px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
}

.swiper-button-prev {
  top: 22px !important;
  color: $gray !important;
  background: #efefef !important;
}
.swiper-button-next {
  margin-left: 40px;
  background: $blue !important;
  color: $white !important;
}
